<ion-header>
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <form  [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Contactez-nous ! </h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="firstname" type="text" placeholder="Prénom"  formControlName="firstname"  required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="lastname" type="text" placeholder="Nom"  formControlName="lastname" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com"  formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="message" type="text" placeholder="Votre message"  formControlName="message"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="contactForm.invalid" expand="block">Envoyer votre message</ion-button>
          </div>
        </ion-col>
      </ion-row>     
    </ion-grid>
  </form>
</ion-content>
