<ion-header>
  <ion-toolbar>
    <ion-title>concept</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card expand="block">
    
    <ion-card-header> 
      <ion-card-title>Message wall - Le concept</ion-card-title>
      <ion-card-subtitle>Projetez au mur les réactions de vos invités !</ion-card-subtitle>
    </ion-card-header>
      <img src="./assets/visuelMessage.png" />
    <ion-card-content id="intro">     
      Un message wall est un outil d’animation conçu pour les concerts, mariages, soirée d'entreprise, conférence ou tout autre évènement.
      <ion-icon name="wine-sharp" ></ion-icon> 
    </ion-card-content>
  </ion-card>

  <ion-card class="details">
    <ion-icon name="chatbubble-outline" expand="block"></ion-icon> 
    <ion-card-content>
      C’est un mur interactif qui permet aux invités d’envoyer et d’afficher des messages sur un écran dédié durant ces évènements.
    </ion-card-content>
  </ion-card>
  <ion-card class="details">
    <ion-icon name="desktop-outline"></ion-icon>  
    <ion-card-content>
      Ici, le concept prend la forme d'un site web, dans lequel chacun peut partager des messages en salon privé ou publiquement pour tout les visiteurs du site.
    </ion-card-content>
  </ion-card>
  <ion-card class="details">
    <ion-icon name="heart"></ion-icon>  
    <ion-card-content>
      Conserver votre anonymat ou afficher vous au grand jour pour vos déclarations d'amour et messages d'amitiés !
    </ion-card-content>
  </ion-card>
  </ion-content>
  
