
ion-icon {    
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
#intro{
    display: flex;
    align-items: center;
}
.details{
    background: #f4a8ae;
    color: #fff;
    display: flex;
}
