<ion-button  (click)="displayAdd()" expand="block">
 Ecrire un nouveau message
</ion-button>
<form [formGroup]="addMessageForm" (ngSubmit)="onSubmit()" [ngStyle]="{ display: seeAddForm ?'flex' : 'none' }">
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3>Ecrire un nouveau message</h3>
        </div>
        <div padding>
          <ion-item>
            <ion-input name="username" type="text" placeholder="Nom d'utilisateur" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="message" type="text" placeholder="Votre message"  formControlName="message"></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button size="large" type="submit" [disabled]="addMessageForm.invalid" expand="block">Envoyer</ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</form>