<ion-header>
  <ion-toolbar>
    <ion-title>my-channel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card *ngFor=" let channel of channels"> 
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{channel.channelName}}</ion-label>
      <ion-button fill="outline" slot="end" ><a routerLink="/one-channel/{{channel.id}}">Rejoindre</a></ion-button>
    </ion-item>
  
    <ion-card-content>
      <p>{{channel.nbMessages}} Messages</p>
      <p>{{channel.usersId.split(',').length}} Participants</p>
    </ion-card-content>
  </ion-card>
 
</ion-content>
  