<ion-header>
  <ion-toolbar>
    <ion-title>my-account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
    Mes informations
    </ion-list-header>
    <ion-item (click)="presentActionSheet()">
      <ion-label>Nom Complet</ion-label>
      <ion-note slot="end" color="primary" >{{user.firstname}} {{user.lastname}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Pseudo</ion-label>
      <ion-note slot="end" color="secondary">{{user.username}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Mail</ion-label>
      <ion-note slot="end" color="tertiary">{{user.email}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Numéro de téléphone</ion-label>
      <ion-note slot="end" color="success">{{user.tel}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Date de Naissance</ion-label>
      <ion-note slot="end" color="warning">{{user.birthDate.toString().substr(0, 10)}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Adresse</ion-label>
      <ion-note slot="end" color="danger">{{user.address}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Nombre de messages envoyés</ion-label>
      <ion-note slot="end" color="danger">{{nbmess}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
